##### connecting to mysql using mysql kernel

In [1]:
mysql://root:root@localhost:3306

##### selecting the default database

In [2]:
use data_mart

##### Problem Statement

Danny needs your help to quantify the impact of this change on the sales performance for Data Mart and itâ€™s separate business areas.

The key business question he wants you to help him answer are the following:

What was the quantifiable impact of the changes introduced in June 2020?
Which platform, region, segment and customer types were the most impacted by this change?
What can we do about future introduction of similar sustainability updates to the business to minimise impact on sales?
Available Data

##### Data Dictionary

##### Ask

1. Does the cost of sustainable packaging increased compared to the old packagaing
2. What is about segment having null?
3. What do you think that the impact would be positive or negative on sales?

##### Process

In [9]:
-- data cleaning
-- due to the default date format in mysql we had to create a new date column and drop the older and rename 
/* alter table weekly_sales
add column week_date2 date

update weekly_sales
set week_date2 = str_to_date(week_date,'%d/%m/%y')

alter table weekly_sales
drop column week_date

alter table weekly_sales
change column "week_date2"  "week_date" */

##### Data Cleaning
###### Add a week_number as the second column for each week_date value, for example any value from the 1st of January to 7th of January will be 1, 8th to 14th will be 2 etc

###### Add a month_number with the calendar month for each week_date value as the 3rd column

###### Add a calendar_year column as the 4th column containing either 2018, 2019 or 2020 values

###### Add a new column called age_band after the original segment column using the following mapping on the number inside the segment value

segment	age_band
1	Young Adults
2	Middle Aged
3 or 4	Retirees

###### Add a new demographic column using the following mapping for the first letter in the segment values:
segment	demographic
C	Couples
F	Families
Ensure all null string values with an "unknown" string value in the original segment column as well as the new age_band and demographic columns

###### Generate a new avg_transaction column as the sales value divided by transactions rounded to 2 decimal places for each record

In [ ]:
/* create table clean_weekly_sales
SELECT 
	week_date,
	week(week_date) as week, 
    month(week_date) as month, 
    year(week_date) as year,
    region, 
    platform,b
    segment,
    case 	
		when segment like "_1%" then "Young Adults" 
        when segment like "_2%" then "Middle Aged"
        when segment like "_3%" or segment like "_%4" then "Retirees"
        else "unknown"
	end as age_band,
    case 
		when segment like "C%" then "Couples"
        when segment like "F%" then "Families"
        else "unknown"
	end as demographic,
    customer_type,
    sales,
    trasactions,
    round(sales/transactions,2) as avg_transaction
from data_mart.weekly_sales */

In [18]:
select * from clean_weekly_sales limit 10;

,week_date,week,month,year,region,platform,segment,age_band,demographic,customer_type,sales,transactions,avg_transaction
0,2020-08-31,35,8,2020,ASIA,Retail,C3,Retirees,Couples,New,3656163,120631,30.31
1,2020-08-31,35,8,2020,ASIA,Retail,F1,Young Adults,Families,New,996575,31574,31.56
2,2020-08-31,35,8,2020,USA,Retail,null,unknown,unknown,Guest,16509610,529151,31.20
3,2020-08-31,35,8,2020,EUROPE,Retail,C1,Young Adults,Couples,New,141942,4517,31.42
4,2020-08-31,35,8,2020,AFRICA,Retail,C2,Middle Aged,Couples,New,1758388,58046,30.29
5,2020-08-31,35,8,2020,CANADA,Shopify,F2,Middle Aged,Families,Existing,243878,1336,182.54
6,2020-08-31,35,8,2020,AFRICA,Shopify,F3,Retirees,Families,Existing,519502,2514,206.64
7,2020-08-31,35,8,2020,ASIA,Shopify,F1,Young Adults,Families,Existing,371417,2158,172.11
8,2020-08-31,35,8,2020,AFRICA,Shopify,F2,Middle Aged,Families,New,49557,318,155.84
9,2020-08-31,35,8,2020,AFRICA,Retail,C3,Retirees,Couples,New,3888162,111032,35.02

##### Data Exploration

##### 1. What day of the week is used for each week_date value?

In [7]:
select distinct dayname(week_date) as day_of_the_week from clean_weekly_sales

,day_of_the_week
0,Monday

monday is used as start day of the week

##### 2.What range of week numbers are missing from the dataset?

In [9]:
with recursive series as ( 
	select 1 as num -- anchor member (first execution) -- first prints 1
    union all
	select num + 1 -- recursive member (will be execute till where condition is met) and then combined using union all -- then recursive query gives 2 and then it will be unioned 
    from series 
    where num < 51)

select
	num as missing_week_no
from series 
where num not in (select week from clean_weekly_sales)

,missing_week_no
0,1
1,2
2,3
3,4
4,5
5,6
6,7
7,8
8,9
9,10
10,11
11,36
12,37
13,38
14,39
15,40
16,41
17,42
18,43
19,44
20,45
21,46
22,47
23,48
24,49
25,50
26,51

##### 3.How many total transactions were there for each year in the dataset?

In [21]:
select 
    year,
    sum(transactions)/1000000 as total_transaction_in_millions
from clean_weekly_sales
group by year

,year,total_transaction_in_millions
0,2020,375.8137
1,2019,365.6393
2,2018,346.4065

##### 4. What is the total sales for each region for each month?

In [23]:
select
    month,
    region,
    sum(sales)/1000000 as total_sales_in_millions
from clean_weekly_sales
group by month,region
order by monthb

,month,region,total_sales_in_millions
0,3,AFRICA,567.7675
1,3,ASIA,529.7708
2,3,CANADA,144.6343
3,3,EUROPE,35.3371
4,3,OCEANIA,783.2829
5,3,SOUTH AMERICA,71.0231
6,3,USA,225.3530
7,4,AFRICA,1911.7835
8,4,ASIA,1804.6287
9,4,CANADA,484.5526
10,4,EUROPE,127.3343
11,4,OCEANIA,2599.7676
12,4,SOUTH AMERICA,238.4515
13,4,USA,759.7863
14,5,AFRICA,1647.2447
15,5,ASIA,1526.2854
16,5,CANADA,412.3784
17,5,EUROPE,109.3384
18,5,OCEANIA,2215.6573
19,5,SOUTH AMERICA,201.3918
20,5,USA,655.9671
21,6,AFRICA,1767.5598
22,6,ASIA,1619.4829
23,6,CANADA,443.8467
24,6,EUROPE,122.8138
25,6,OCEANIA,2371.8847
26,6,SOUTH AMERICA,218.2475
27,6,USA,703.8790
28,7,AFRICA,1960.2197
29,7,ASIA,1768.8448
30,7,CANADA,477.1349
31,7,EUROPE,136.7575
32,7,OCEANIA,2563.4594
33,7,SOUTH AMERICA,235.5828
34,7,USA,760.3318
35,8,AFRICA,1809.5969
36,8,ASIA,1663.3206
37,8,CANADA,447.0730
38,8,EUROPE,122.1030
39,8,OCEANIA,2432.3137
40,8,SOUTH AMERICA,221.1661
41,8,USA,712.0028
42,9,AFRICA,276.3210
43,9,ASIA,252.8368
44,9,CANADA,69.0680
45,9,EUROPE,18.8774
46,9,OCEANIA,372.4655
47,9,SOUTH AMERICA,34.1756
48,9,USA,110.5324

##### 5.What is the total count of transactions for each platform

In [25]:
select 
    platform,
    sum(transactions)/1000000 as total_transactions_in_millions
from clean_weekly_sales
group by platform

,platform,total_transactions_in_millions
0,Retail,1081.9342
1,Shopify,5.9252

##### 6.What is the percentage of sales for Retail vs Shopify for each month?

In [52]:
select
    month,
    round(sum(case when platform="Shopify" then sales end) * 100.0 / sum(sales),2)  as shopify_sales,
    round(sum(case when platform="Retail" then sales end) * 100.0 / sum(sales),2) as retail_sales
from clean_weekly_sales
group by month
order by month

,month,shopify_sales,retail_sales
0,3,2.46,97.54
1,4,2.41,97.59
2,5,2.70,97.30
3,6,2.73,97.27
4,7,2.71,97.29
5,8,2.92,97.08
6,9,2.62,97.38

##### 7.What is the percentage of sales by demographic for each year in the dataset?

In [7]:
select
    year,
    round(sum(case when demographic="Couples" then sales end) * 100.0 / sum(sales),2)  as couples_sales_perc,
    round(sum(case when demographic="Families" then sales end) * 100.0 / sum(sales),2) as families_sales_perc,
    round(sum(case when demographic="unknown" then sales end) * 100.0 / sum(sales),2) as unknown_sales_perc
from clean_weekly_sales
group by year
order by year

,year,couples_sales_perc,families_sales_perc,unknown_sales_perc
0,2018,26.38,31.99,41.63
1,2019,27.28,32.47,40.25
2,2020,28.72,32.73,38.55

##### 8.Which age_band and demographic values contribute the most to Retail sales?

In [27]:
select
    age_band,
    demographic,
    sum(sales)/1000000000 as total_sales_in_billions
from clean_weekly_sales
where platform = "Retail"
group by 1,2
order by 3 desc

,age_band,demographic,total_sales_in_billions
0,unknown,unknown,16.0673
1,Retirees,Families,6.6347
2,Retirees,Couples,6.3706
3,Middle Aged,Families,4.3541
4,Young Adults,Couples,2.6029
5,Middle Aged,Couples,1.8542
6,Young Adults,Families,1.7709

##### 9.Can we use the avg_transaction column to find the average transaction size for each year for Retail vs Shopify? If not - how would you calculate it instead?

In [30]:
select
    year, 
    platform,
    sum(sales)/sum(transactions) as avg_transaction,
    avg(avg_transaction)
from clean_weekly_sales
group by year, platform
order by year

,year,platform,avg_transaction,avg(avg_transaction)
0,2018,Retail,36.5626,42.906369
1,2018,Shopify,192.4813,188.279272
2,2019,Retail,36.8335,41.968071
3,2019,Shopify,183.3611,177.559562
4,2020,Retail,36.5566,40.640231
5,2020,Shopify,179.0332,174.873569

we can't use the avg_transaction column for the average transaction size for year, since its already a average taken for a particular week, instead we can take sum(sales)/sum(transactions) for each platform in particular year to determine the avg transaction size

### Before and After Analysis

##### 1.What is the total sales for the 4 weeks before and after 2020-06-15? What is the growth or reduction rate in actual values and percentage of sales?

In [123]:
with sales_metrics_4 as (
    select
        sum(case when week between week(date_sub("2020-06-15", interval 4 week)) and week("2020-06-15")-1 then sales end)/1000000000 as "sales_before_4_weeks_in_billion",
        sum(case when week between week("2020-06-15") and week(date_add("2020-06-15", interval 3 week)) then sales end)/1000000000 as "sales_after_4_weeks_in_billion"
    from clean_weekly_sales
    where year = 2020)

select 
    *, 
    round((sales_after_4_weeks_in_billion - sales_before_4_weeks_in_billion)*100.0/sales_before_4_weeks_in_billion,2) as percentage_change 
from sales_metrics_4

,sales_before_4_weeks_in_billion,sales_after_4_weeks_in_billion,percentage_change
0,2.3459,2.319,-1.15

##### 2.What about the entire 12 weeks before and after?

In [128]:
with sales_metrics_12 as (
    select
        sum(case when week between week(date_sub("2020-06-15", interval 12 week)) and week("2020-06-15")-1 then sales end)/1000000000 as "sales_before_12_weeks_in_billion",
        sum(case when week between week("2020-06-15") and week(date_add("2020-06-15", interval 11 week)) then sales end)/1000000000 as "sales_after_12_weeks_in_billion"
    from clean_weekly_sales
    where year = 2020)

select 
    *, 
    round((sales_after_12_weeks_in_billion - sales_before_12_weeks_in_billion)*100.0/sales_before_12_weeks_in_billion,2) as percentage_change 
from sales_metrics_12

,sales_before_12_weeks_in_billion,sales_after_12_weeks_in_billion,percentage_change
0,7.1263,6.9739,-2.14

##### 3.How do the sale metrics for these 2 periods before and after compare with the previous years in 2018 and 2019?

for 12 week period

In [138]:
with cte as (
    select
        year,
        sum(case when week between week(date_sub("2020-06-15", interval 12 week)) and week("2020-06-15")-1 then sales end)/1000000000 as "sales_before_12_weeks_in_billion",
        sum(case when week between week("2020-06-15") and week(date_add("2020-06-15", interval 11 week)) then sales end)/1000000000 as "sales_after_12_weeks_in_billion"
    from clean_weekly_sales
    group by year)

select 
    *,
    round((sales_after_12_weeks_in_billion - sales_before_12_weeks_in_billion)*100.0/sales_before_12_weeks_in_billion,2) as percentage_change 
from cte
order by year

,year,sales_before_12_weeks_in_billion,sales_after_12_weeks_in_billion,percentage_change
0,2018,6.3966,6.5008,1.63
1,2019,6.8834,6.8626,-0.30
2,2020,7.1263,6.9739,-2.14

for 4 week period

In [137]:
with sales_metrics_4 as (
    select
        year,
        sum(case when week between week(date_sub("2020-06-15", interval 4 week)) and week("2020-06-15")-1 then sales end)/1000000000 as "sales_before_4_weeks_in_billion",
        sum(case when week between week("2020-06-15") and week(date_add("2020-06-15", interval 3 week)) then sales end)/1000000000 as "sales_after_4_weeks_in_billion"
    from clean_weekly_sales
    group by year)

select 
    *, 
    round((sales_after_4_weeks_in_billion - sales_before_4_weeks_in_billion)*100.0/sales_before_4_weeks_in_billion,2) as percentage_change 
from sales_metrics_4
order by year

,year,sales_before_4_weeks_in_billion,sales_after_4_weeks_in_billion,percentage_change
0,2018,2.1251,2.1292,0.19
1,2019,2.2500,2.2523,0.10
2,2020,2.3459,2.3190,-1.15

Its important to check is there any pattern for negative sales by comparing the same period to the previous years and from the results we can conclude that there was no pattern of negative sales around these periods and highly because of the sustainable changes

##### 4.Which areas of the business have the highest negative impact in sales metrics performance in 2020 for the 12 week before and after period?

region,
platform,
age_band,
demographic,
customer_type?

##### Platform analysis

In [149]:
with cte as (
select 
    platform,
    sum(case when week between week(date_sub("2020-06-15", interval 12 week)) and week("2020-06-15")-1 then sales end)/1000000 as "sales_before_12_weeks_in_million",
    sum(case when week between week("2020-06-15") and week(date_add("2020-06-15", interval 11 week)) then sales end)/1000000 as "sales_after_12_weeks_in_million"
from clean_weekly_sales
where year = 2020
group by 1)

select 
    *, 
    round((sales_after_12_weeks_in_million - sales_before_12_weeks_in_million) *100.0/ sales_before_12_weeks_in_million,2) as perc_change 
from cte
order by perc_change

,platform,sales_before_12_weeks_in_million,sales_after_12_weeks_in_million,perc_change
0,Retail,6906.8611,6738.7773,-2.43
1,Shopify,219.4120,235.1705,7.18

overall retail sales have negative impact compared to shopify, shopify might also get into negatives if not implemented a strategy immediately

##### Region Analysis

In [142]:
with cte as (select 
    region,
    sum(case when week between week(date_sub("2020-06-15", interval 12 week)) and week("2020-06-15")-1 then sales end)/1000000 as "sales_before_12_weeks_in_million",
    sum(case when week between week("2020-06-15") and week(date_add("2020-06-15", interval 11 week)) then sales end)/1000000 as "sales_after_12_weeks_in_million"
from clean_weekly_sales
where year = 2020
group by 1)

select 
    *, 
    round((sales_after_12_weeks_in_million - sales_before_12_weeks_in_million) *100.0/ sales_before_12_weeks_in_million,2) as perc_change 
from cte
order by perc_change

,region,sales_before_12_weeks_in_million,sales_after_12_weeks_in_million,perc_change
0,ASIA,1637.2445,1583.8076,-3.26
1,OCEANIA,2354.1168,2282.7957,-3.03
2,SOUTH AMERICA,213.0362,208.4520,-2.15
3,CANADA,426.4385,418.2644,-1.92
4,USA,677.0136,666.1987,-1.60
5,AFRICA,1709.5371,1700.3903,-0.54
6,EUROPE,108.8866,114.0390,4.73

Asia region is the most impacted, Africa being the second higest sales is only -0.54 and Oceania with the highest sales have higher negative effects on the sales

##### age_band analysis

In [143]:
with cte as (select 
    age_band,
    sum(case when week between week(date_sub("2020-06-15", interval 12 week)) and week("2020-06-15")-1 then sales end)/1000000 as "sales_before_12_weeks_in_million",
    sum(case when week between week("2020-06-15") and week(date_add("2020-06-15", interval 11 week)) then sales end)/1000000 as "sales_after_12_weeks_in_million"
from clean_weekly_sales
where year = 2020
group by 1)

select 
    *, 
    round((sales_after_12_weeks_in_million - sales_before_12_weeks_in_million) *100.0/ sales_before_12_weeks_in_million,2) as perc_change 
from cte
order by perc_change

,age_band,sales_before_12_weeks_in_million,sales_after_12_weeks_in_million,perc_change
0,unknown,2764.3545,2671.9614,-3.34
1,Middle Aged,1164.8476,1141.8533,-1.97
2,Retirees,2395.2645,2365.7150,-1.23
3,Young Adults,801.8065,794.4180,-0.92

unknown age_band has the most impact on negative sales

##### Demographic Analysis

In [144]:
with cte as (select 
    demographic,
    sum(case when week between week(date_sub("2020-06-15", interval 12 week)) and week("2020-06-15")-1 then sales end)/1000000 as "sales_before_12_weeks_in_million",
    sum(case when week between week("2020-06-15") and week(date_add("2020-06-15", interval 11 week)) then sales end)/1000000 as "sales_after_12_weeks_in_million"
from clean_weekly_sales
where year = 2020
group by 1)

select 
    *, 
    round((sales_after_12_weeks_in_million - sales_before_12_weeks_in_million) *100.0/ sales_before_12_weeks_in_million,2) as perc_change 
from cte
order by perc_change

,demographic,sales_before_12_weeks_in_million,sales_after_12_weeks_in_million,perc_change
0,unknown,2764.3545,2671.9614,-3.34
1,Families,2328.3290,2286.0090,-1.82
2,Couples,2033.5896,2015.9773,-0.87

impact is also similar in the case of demographics

##### Customer-type analysis

In [146]:
with cte as (select 
    customer_type,
    sum(case when week between week(date_sub("2020-06-15", interval 12 week)) and week("2020-06-15")-1 then sales end)/1000000 as "sales_before_12_weeks_in_million",
    sum(case when week between week("2020-06-15") and week(date_add("2020-06-15", interval 11 week)) then sales end)/1000000 as "sales_after_12_weeks_in_million"
from clean_weekly_sales
where year = 2020
group by 1)

select 
    *, 
    round((sales_after_12_weeks_in_million - sales_before_12_weeks_in_million) *100.0/ sales_before_12_weeks_in_million,2) as perc_change 
from cte
order by perc_change

,customer_type,sales_before_12_weeks_in_million,sales_after_12_weeks_in_million,perc_change
0,Guest,2573.4363,2496.2336,-3.00
1,Existing,3690.1164,3606.2435,-2.27
2,New,862.7204,871.4707,1.01

negative impact on sales is slightly higher in the guest class of customers

##### Recommendations

1.in demographic and age based analysis unknown field corresponds to highest negative sales, so have to deal with unknowns maybe identify

2.retail and asia, SA, oceania has more effects on negative sales and guests and existing customers have higher effects as well, may be for guests and existing customers we could offer less expensive packaging in retail mostly in asia, SA and oceania.